<!-- Digital Data Manager snippet -->
<script type="text/javascript">
// window.DDMANAGER_INIT_URL = '<YOUR_BACKUP_STABLE_INITIALIZATION_SCRIPT_URL>';
// window.DDMANAGER_SDK_URL = '<YOUR_BACKUP_STABLE_SDK_SCRIPT_URL>';

// SNIPPET CODE:
</script>
<!-- //Digital Data Manager snippet -->
